* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #8989ec; 
    color: white;
    padding: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient( #020024, #8989ec, #bfbbf5);
    box-shadow: 0 8px 12px rgba(253, 251, 251, 0.925);
}
.logo {
    font-size: 24px;
    color: #fff;
}


.logo span {
    font-size: 22px;
    color: #00d4ff;
}
nav {
    position: relative;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 15px;
    transition: transform 0.3s ease-in-out;
}
.nav-list li {
    position: relative;
}
.nav-list a {
    color: #4606f8;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}
.nav-list a:hover::after,
.nav-list a.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: #fdfbfb;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}
    
.nav-list {
    display: flex;
    list-style: none;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}


.nav-list a:hover::before {
    transform: scale(1);
}
#hero-image {
    position: relative;
    overflow: hidden;
 
}
.hero {
    position: relative;
}

.responsive-image {
    width: 100%;
    height: auto;
    transition: transform 1s ease-in-out;
    opacity:60%;
}
.hero:hover .responsive-image {
    transform: scale(1.1);
}
.cover.text {
    position: absolute;
    top: 44%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    object-fit: fill;
}
.left-text {
    position: absolute;
    top: 70%;
    bottom: 10%;
    left: 25%;
    right: 26%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    object-fit: fill;
    font-weight: bold;
}
.left-text h2 {
font-size: 150%;
color: #051ef8;
}
.left-text p {
font-size: 80%;

}
.cover.text h1, .cover.text h3, .cover.text p {
    margin: 10px 0;
    animation: zoomOut 5s ease-out;
}

.cover.text h1 {
    font-size: 80px;
    font-weight: bold;
    animation-delay: 0.5s;
}
.cover.text h3 {
    font-size: 40px;
    animation-delay: 1s;
    font-weight: bold;
}

.cover.text p {
    font-size: 30px;
    animation-delay: 1.5s;
    font-weight: bold;
}
@keyframes zoomOut {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .cover.text h1 {
        font-size: 24px;
    }
    .cover.text h3 {
        font-size: 20px;
    }
    .cover.text p {
        font-size: 10px;
    }
    .left-text h3 {
        font-size: 60%;
    }
    .left-text h2 p{
        font-size: 100%;
    }
}
#about {
    text-align: center;
}
.history {
    text-align: center;
}


    /* Team Section Styles */
.team {
    text-align: center;
    padding: 50px 20px;
}

#team {
    font-size: 2em;
    margin-bottom: 20px;
}

#team-description {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.team-member {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background:none;
    box-shadow: 0 9px 12px rgba(247, 246, 248, 0.952);
    border-radius: 10px;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.team-member:nth-child(even) {
    transform: translateX(-20px) translateY(20px);
}

.team-member:nth-child(odd) {
    transform: translateX(20px) translateY(20px);
}

.team-member img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.team-member h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1em;
    margin-bottom: 10px;
}

.team-member:hover img {
    transform: scale(1.1);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (min-width: 768px) {
    .team-member {
        display: inline-block;
        width: calc(33.333% - 40px); 
        margin: 20px;
    }
}
/* Pricing Section Styles */
.pricing {
    text-align: center;
    padding: 50px 20px;
   
}

.pricing-plan {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: left;
    background: none;
    box-shadow: 0 8px 12px rgba(246, 245, 252, 0.904);
    border-radius: 20px;
    overflow: hidden;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.pricing-plan img.image-behind {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    transition: transform 0.5s;
}

.pricing-plan:hover img.image-behind {
    transform: scale(1.1);
}

.pricing-plan:nth-child(odd) {
    transform: translateX(-20px) translateY(20px);
}

.pricing-plan:nth-child(even) {
    transform: translateX(20px) translateY(20px);
}

.plan-title {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.plan-cost {
    font-size: 1.2em;
    color: #071ef3;
    margin-bottom: 20px;
    text-align: center;
}

.plan-cost span {
    font-size: 0.8em;
    color: #110f0f;
}

.plan-features {
    list-style: none;
    padding-left: 0;
}

.plan-features li {
    margin-bottom: 10px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.about-us {
    padding: 40px;
    border-radius: 10px;
    position: relative;
}
.about-background {
    text-align: center;
}

  
  #welcome {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f3f1f8;
    text-align: center;
    animation: zoomIn 6s ease-in-out;
  }
  #welcome h4 {
text-align: center;
font-size: 50%;
justify-content: center;
  }
  
  #brand {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #2432fc;
    text-align: center;
    animation: zoomOut 6s ease-in-out;
  }
  @media (max-width: 768px) {
    .about-us {
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: none;
      justify-content: space-around;

    }
    
    #welcome {
      font-size: 20px;
      margin-bottom: 10px;
      text-align: center;
    }
    
    #brand {
      font-size: 15px;
      margin-bottom: 10px;
      text-align: center;
    }
    
    #welcome h3 {
      margin-top: 15px;
      font-size: 18px;
      font-weight: bold;
    }
    
    #welcome h4 {
      font-size: 20px;
      margin-top: 10px;
      text-align: center;
  }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.our-goals {
    padding: 40px;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(250, 247, 247, 0.966);
  }
  
  #goals {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .our-goals ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
  }
  
  .our-goals ul li {
    display: inline-block;
    vertical-align: middle;
  }
  
 
  .our-goals ul li strong {
    font-weight: bold;
    text-align: center;
    
  }
  
  
  @media (max-width: 768px) {
  
    }
    
    ul {
      font-size: 16px;
      margin-top: 10px;
      padding-left: 20px;
      text-align:center;
      justify-content: space-around;

    }
    .our-goals ul li strong {
        font-weight: bold;
        text-align: center;
    }
    .our-goals {
        padding: 40px;
        border:none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(250, 247, 247, 0.966);
      }
      #goals {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
      }
      .call-to-action {
        background-color: #007bff; 
        color: #fff;
        text-align: center;
        padding: 40px 20px;
        margin: 20px auto;
        max-width: 800px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .call-to-action p {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    
    .call-to-action .button {
        display: inline-block;
        background-color: #0b9ee2; 
        color: #fff;
        padding: 15px 30px;
        font-size: 1.2rem;
        text-decoration: none;
        border-radius: 5px;
        transition: transform 0.3s ease-in-out;
        position: relative;
        z-index: 1;
    }
    
    .call-to-action .button:hover {
        background-color: #a9b4c2; 
    }
    
    .call-to-action .button:after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: left 0.3s ease-in-out;
    }
    
    .call-to-action .button:hover:after {
        left: 100%;
    }
    
    /* Scroll Animation */
    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }
    
    .call-to-action .button {
        animation: float 3s ease-in-out infinite;
    }
    
    /* Responsive Styles */
    @media (max-width: 768px) {
        .call-to-action {
            padding: 20px 10px;
        }
    
        .call-to-action p {
            font-size: 1.2rem;
        }
    
        .call-to-action .button {
            font-size: 1rem;
            padding: 10px 20px;
        }
    }
    .container {
        max-width: 1200px;
        margin: 40px auto;
        text-align: center;
      }
      
      .footer-left, .footer-center, .footer-right , .footer-bottom
      {
        display: inline-block;
        vertical-align: top;
      }
      
      .footer-left {
        width: 0%;
        font-weight: bold;
        padding: 0;
      }
      
      .footer-center {
        width: 25%;
      }
      
      .footer-right {
        width: 30%;
      }
      
      @media (max-width: 768px) {
        .container {
          font-size: 16px;
          margin-top: 20px;
          text-align: center;
          padding-bottom: 20px;
        }
        
        .footer-left, .footer-center, .footer-right {
          display: block;
          margin-bottom: 10px;
          text-align: left;
          width: auto;
          padding-left: 20px;
          border-bottom: 1px solid #ccc;
        }
        
      }
   
      .signup-section {
        position: relative;
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        perspective: 1000px; 
    }
    
    .background-image {
        background-image: url('..assets/images/background.jpg'); 
        background-size: cover;
        background-position: center;
        background-attachment: fixed; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: translateZ(-1px) scale(1.1); 
        transition: transform 8s ease-out; 
    }
    
    .form-container {
        max-width: 400px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.9); 
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1; 
    }
    
    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 8px;
        color: #666;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="password"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    
    .form-group button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .form-group button:hover {
        background-color: #0056b3;
    }
    
    @media screen and (max-width: 768px) {
        .form-container {
            width: 90%;
        }
    }
































































 




























    
    
    
    
    
    
   