* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #8989ec; /* Adjust the color to match the background */
    color: white;
    padding: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient( #020024, #8989ec, #bfbbf5);
    box-shadow: 0 8px 12px rgba(253, 251, 251, 0.925);
}
.logo {
    font-size: 24px;
    color: #fff;
}


.logo span {
    font-size: 22px;
    color: #00d4ff;
}
nav {
    position: relative;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 15px;
    transition: transform 0.3s ease-in-out;
}
.nav-list li {
    position: relative;
}
.nav-list a {
    color: #4606f8;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}
.nav-list a:hover {
    background-color: rgba(246, 248, 252, 0.856);
    transform: scale(1.1);
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    
.nav-list {
    display: flex;
    list-style: none;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}
}
.nav-list a::before {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.3s;
}
.nav-list a:hover::before {
    transform: scale(1);
}
